/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	nav {
		position: fixed;
		height: 100px;
		line-height: 100px;
		background-color: rgba(90, 250, 125, .9);
	}

	.menuBtn {
		width: 60px;
		height: 60px;
		border-radius: 50%;
		background-color: #fdc600;
		color: #fff;
		margin-top: 20px;
	}

	.menuBtn span {
		top: -22px;
		font-size: 26px;
	}

	#topMenu {
		background-color: rgba(90, 250, 125, .9);
		padding: 5px 0;
		margin-top: 10px;
	}

	ul.menu li {
		display: block;
		text-align: center;
		height: 50px;
		line-height: 50px;
	}

	ul.menu li a {
		display: block;
	}

	ul.menu li a:hover {
		border: none;
		padding: 0;
		color: #fff;
		background-color: #000;
	}

	.section-header h2::before, .section-header h2::after {
		display: none;
	}
}

.blog-content img{
	margin-bottom:  10px;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.section-header {
		padding: 0 10px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}